/* General */
ion-header-bar .button.icon-right:before {
  margin-left: 10px;
}

/* Sidebar */
div.sets {
  white-space: normal;
  margin-top: 0;
  padding-top: 0;
  border-top: none;
  text-align: center;
}
div.sets .button-bar .button {
  padding: 0;
  margin-bottom: 2px;
}
div.sets .buttons { margin: 0 -5px; }
div.sets .button.set {
  margin: 2px;
  min-width: 45px;
  padding: 0;
}
div.sets .button.set img {
  vertical-align: middle;
  max-width: 43px
}

div.difficulty {
  padding-right: 185px;

}
div.difficulty .button-bar {
  position: absolute;
  right: 11px;
  top: 0;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 165px;
}
div.difficulty .button-bar .button { padding: 0; }
div.difficulty .button-bar .button i:before { line-height: 20px; }

/* Question */
div.cards {
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  z-index: 10;
}
div.cards .col {
  min-width: 223px;
}
div.cards .card-container {
  width: 223px;
  height: 310px;
  position: relative;
  display: block;
  margin: auto;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  cursor: pointer;
}
div.cards .card-container div.oracle,
div.cards .card-container .scan {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  left: 0;
  top: 0;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 5px 10px #666;
  z-index: 10;
}
div.cards .card-container div.oracle {
  text-align: left;
  width: 223px;
  font-size: 12px;
  line-height: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: 10px solid black;
  height: 310px;
  -webkit-transform: rotateY(0deg) scale(1);
  transform: rotateY(0deg) scale(1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div.cards .card-container div.oracle .right { float: right; }
div.cards .card-container div.oracle .bottom { position: absolute; bottom: 10px; right: 10px; }
div.cards .card-container div.oracle .type { margin-bottom: 10px; display: block; }
div.cards .card-container div.oracle .title { margin-bottom: 50px; display: block; }
div.cards .card-container div.oracle .ability br { line-height: 20px; }
div.cards .card-container div.oracle .ability em { font-style: italic; }
div.cards .card-container .scan  {
  -webkit-transform: rotateY(180deg) scale(1.3);
  transform: rotateY(180deg) scale(1.3);
  width: 220px;
  height: 307px;
  background: url("../images/card.jpg") center center no-repeat;
}
div.cards .card-container.show-scan div.oracle {
  -webkit-transform: rotateY(-180deg) scale(1.3);
  transform: rotateY(-180deg) scale(1.3);
}
div.cards .card-container.show-scan .scan {
  -webkit-transform: rotateY(0deg) scale(1);
  transform: rotateY(0deg) scale(1);
}
div.card .button {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}