/* Sidebar */
div.sets {
  white-space: normal;
  margin-top: 0;
  padding-top: 0;
  border-top: none;
  text-align: center;
}
div.sets .button-bar .button {
  padding: 0;
  margin-bottom: 2px;
}
div.sets .buttons { margin: 0 -5px; }
div.sets .button.set {
  margin: 2px;
  min-width: 45px;
  padding: 0;
}
div.sets .button.set img {
  vertical-align: middle;
  max-width: 43px
}

div.difficulty {
  padding-right: 185px;

}
div.difficulty .button-bar {
  position: absolute;
  right: 11px;
  top: 0;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 165px;
}
div.difficulty .button-bar .button {
  padding: 0;
}

/* Question */
div.cards {
  flex-wrap: wrap;
  text-align: center;
}
div.cards .col {
  min-width: 225px;
  font-weight: bold;
}
div.cards .col div.oracle {
  margin: auto;
  display: block;
  text-align: left;
  width: 200px;
  font-size: 12px;
  line-height: 120%;
  font-weight: normal;
}
div.cards .col div.oracle .right { float: right; }
div.cards .col div.oracle .pre { white-space: pre-wrap; }
div.cards .col img {
  width: 200px;
}