.set-icons {
  background-image: url("../images/sets.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.set-icons-10E {
  width: 25px;
  height: 20px;
  background-position: -1px -1px;
}

.set-icons-1E {
  width: 18px;
  height: 20px;
  background-position: -28px -1px;
}

.set-icons-2E {
  width: 18px;
  height: 20px;
  background-position: -48px -1px;
}

.set-icons-2U {
  width: 18px;
  height: 20px;
  background-position: -68px -1px;
}

.set-icons-3E {
  width: 18px;
  height: 20px;
  background-position: -88px -1px;
}

.set-icons-4BB {
  width: 18px;
  height: 20px;
  background-position: -108px -1px;
}

.set-icons-4E {
  width: 18px;
  height: 20px;
  background-position: -128px -1px;
}

.set-icons-5DN {
  width: 19px;
  height: 20px;
  background-position: -148px -1px;
}

.set-icons-5E {
  width: 22px;
  height: 20px;
  background-position: -169px -1px;
}

.set-icons-6E {
  width: 28px;
  height: 20px;
  background-position: -193px -1px;
}

.set-icons-7E {
  width: 16px;
  height: 20px;
  background-position: -223px -1px;
}

.set-icons-8ED {
  width: 24px;
  height: 20px;
  background-position: -241px -1px;
}

.set-icons-9ED {
  width: 24px;
  height: 20px;
  background-position: -1px -23px;
}

.set-icons-AL {
  width: 43px;
  height: 20px;
  background-position: -27px -23px;
}

.set-icons-ALA {
  width: 18px;
  height: 20px;
  background-position: -72px -23px;
}

.set-icons-AN {
  width: 46px;
  height: 20px;
  background-position: -92px -23px;
}

.set-icons-AP {
  width: 17px;
  height: 20px;
  background-position: -140px -23px;
}

.set-icons-AQ {
  width: 35px;
  height: 20px;
  background-position: -159px -23px;
}

.set-icons-ARB {
  width: 18px;
  height: 20px;
  background-position: -196px -23px;
}

.set-icons-ARC {
  width: 17px;
  height: 20px;
  background-position: -216px -23px;
}

.set-icons-AT {
  width: 36px;
  height: 20px;
  background-position: -235px -23px;
}

.set-icons-AVR {
  width: 20px;
  height: 20px;
  background-position: -1px -45px;
}

.set-icons-BAB {
  width: 21px;
  height: 20px;
  background-position: -23px -45px;
}

.set-icons-BD {
  width: 46px;
  height: 20px;
  background-position: -46px -45px;
}

.set-icons-BNG {
  width: 22px;
  height: 20px;
  background-position: -94px -45px;
}

.set-icons-BOK {
  width: 21px;
  height: 20px;
  background-position: -118px -45px;
}

.set-icons-BR {
  width: 20px;
  height: 20px;
  background-position: -141px -45px;
}

.set-icons-C13 {
  width: 17px;
  height: 20px;
  background-position: -163px -45px;
}

.set-icons-C14 {
  width: 30px;
  height: 20px;
  background-position: -182px -45px;
}

.set-icons-CE {
  width: 19px;
  height: 20px;
  background-position: -214px -45px;
}

.set-icons-CG {
  width: 19px;
  height: 20px;
  background-position: -235px -45px;
}

.set-icons-CH {
  width: 17px;
  height: 20px;
  background-position: -256px -45px;
}

.set-icons-CHK {
  width: 25px;
  height: 20px;
  background-position: -1px -67px;
}

.set-icons-CM1 {
  width: 14px;
  height: 20px;
  background-position: -267px -1px;
}

.set-icons-CMD {
  width: 19px;
  height: 20px;
  background-position: -28px -67px;
}

.set-icons-CNS {
  width: 16px;
  height: 20px;
  background-position: -49px -67px;
}

.set-icons-CON {
  width: 22px;
  height: 20px;
  background-position: -67px -67px;
}

.set-icons-CSP {
  width: 10px;
  height: 20px;
  background-position: -273px -23px;
}

.set-icons-DD2 {
  width: 24px;
  height: 20px;
  background-position: -91px -67px;
}

.set-icons-DDC {
  width: 28px;
  height: 20px;
  background-position: -117px -67px;
}

.set-icons-DDD {
  width: 25px;
  height: 20px;
  background-position: -147px -67px;
}

.set-icons-DDE {
  width: 19px;
  height: 20px;
  background-position: -174px -67px;
}

.set-icons-DDF {
  width: 17px;
  height: 20px;
  background-position: -195px -67px;
}

.set-icons-DDG {
  width: 20px;
  height: 20px;
  background-position: -214px -67px;
}

.set-icons-DDH {
  width: 20px;
  height: 20px;
  background-position: -236px -67px;
}

.set-icons-DDI {
  width: 21px;
  height: 20px;
  background-position: -258px -67px;
}

.set-icons-DDJ {
  width: 15px;
  height: 20px;
  background-position: -1px -89px;
}

.set-icons-DDK {
  width: 17px;
  height: 20px;
  background-position: -18px -89px;
}

.set-icons-DDL {
  width: 19px;
  height: 20px;
  background-position: -37px -89px;
}

.set-icons-DDM {
  width: 14px;
  height: 20px;
  background-position: -58px -89px;
}

.set-icons-DDN {
  width: 25px;
  height: 20px;
  background-position: -74px -89px;
}

.set-icons-DDO {
  width: 25px;
  height: 20px;
  background-position: -101px -89px;
}

.set-icons-DGM {
  width: 27px;
  height: 20px;
  background-position: -128px -89px;
}

.set-icons-DIS {
  width: 22px;
  height: 20px;
  background-position: -157px -89px;
}

.set-icons-DK {
  width: 21px;
  height: 20px;
  background-position: -181px -89px;
}

.set-icons-DKA {
  width: 26px;
  height: 20px;
  background-position: -204px -89px;
}

.set-icons-DM {
  width: 17px;
  height: 20px;
  background-position: -232px -89px;
}

.set-icons-DOTP {
  width: 20px;
  height: 20px;
  background-position: -251px -89px;
}

.set-icons-DRB {
  width: 26px;
  height: 20px;
  background-position: -1px -111px;
}

.set-icons-DST {
  width: 16px;
  height: 20px;
  background-position: -29px -111px;
}

.set-icons-DTK {
  width: 17px;
  height: 20px;
  background-position: -47px -111px;
}

.set-icons-EVE {
  width: 27px;
  height: 20px;
  background-position: -66px -111px;
}

.set-icons-EVG {
  width: 39px;
  height: 20px;
  background-position: -95px -111px;
}

.set-icons-EX {
  width: 50px;
  height: 20px;
  background-position: -136px -111px;
}

.set-icons-FE {
  width: 24px;
  height: 20px;
  background-position: -188px -111px;
}

.set-icons-FRF {
  width: 20px;
  height: 20px;
  background-position: -214px -111px;
}

.set-icons-FUT {
  width: 27px;
  height: 20px;
  background-position: -236px -111px;
}

.set-icons-GDC {
  width: 19px;
  height: 20px;
  background-position: -1px -133px;
}

.set-icons-GPT {
  width: 20px;
  height: 20px;
  background-position: -22px -133px;
}

.set-icons-GTC {
  width: 31px;
  height: 20px;
  background-position: -44px -133px;
}

.set-icons-GU {
  width: 35px;
  height: 20px;
  background-position: -77px -133px;
}

.set-icons-H09 {
  width: 22px;
  height: 20px;
  background-position: -114px -133px;
}

.set-icons-HM {
  width: 20px;
  height: 20px;
  background-position: -138px -133px;
}

.set-icons-HOP {
  width: 27px;
  height: 20px;
  background-position: -160px -133px;
}

.set-icons-HPP {
  width: 19px;
  height: 20px;
  background-position: -189px -133px;
}

.set-icons-IA {
  width: 19px;
  height: 20px;
  background-position: -210px -133px;
}

.set-icons-IE {
  width: 19px;
  height: 20px;
  background-position: -231px -133px;
}

.set-icons-IN {
  width: 14px;
  height: 20px;
  background-position: -265px -111px;
}

.set-icons-ISD {
  width: 22px;
  height: 20px;
  background-position: -252px -133px;
}

.set-icons-ITP {
  width: 19px;
  height: 20px;
  background-position: -1px -155px;
}

.set-icons-JJT {
  width: 19px;
  height: 20px;
  background-position: -22px -155px;
}

.set-icons-JOU {
  width: 24px;
  height: 20px;
  background-position: -43px -155px;
}

.set-icons-JR {
  width: 19px;
  height: 20px;
  background-position: -69px -155px;
}

.set-icons-JUD {
  width: 23px;
  height: 20px;
  background-position: -90px -155px;
}

.set-icons-KTK {
  width: 18px;
  height: 20px;
  background-position: -115px -155px;
}

.set-icons-LE {
  width: 20px;
  height: 20px;
  background-position: -135px -155px;
}

.set-icons-LGN {
  width: 44px;
  height: 20px;
  background-position: -157px -155px;
}

.set-icons-LRW {
  width: 15px;
  height: 20px;
  background-position: -203px -155px;
}

.set-icons-M10 {
  width: 37px;
  height: 20px;
  background-position: -220px -155px;
}

.set-icons-M11 {
  width: 36px;
  height: 20px;
  background-position: -1px -177px;
}

.set-icons-M12 {
  width: 37px;
  height: 20px;
  background-position: -39px -177px;
}

.set-icons-M13 {
  width: 37px;
  height: 20px;
  background-position: -78px -177px;
}

.set-icons-M14 {
  width: 37px;
  height: 20px;
  background-position: -117px -177px;
}

.set-icons-M15 {
  width: 37px;
  height: 20px;
  background-position: -156px -177px;
}

.set-icons-MBS {
  width: 17px;
  height: 20px;
  background-position: -259px -155px;
}

.set-icons-MD1 {
  width: 20px;
  height: 20px;
  background-position: -195px -177px;
}

.set-icons-MI {
  width: 21px;
  height: 20px;
  background-position: -217px -177px;
}

.set-icons-MM {
  width: 20px;
  height: 20px;
  background-position: -240px -177px;
}

.set-icons-MMA {
  width: 24px;
  height: 20px;
  background-position: -1px -199px;
}

.set-icons-MOR {
  width: 20px;
  height: 20px;
  background-position: -262px -177px;
}

.set-icons-MPS {
  width: 19px;
  height: 20px;
  background-position: -27px -199px;
}

.set-icons-MRD {
  width: 37px;
  height: 20px;
  background-position: -48px -199px;
}

.set-icons-NE {
  width: 45px;
  height: 20px;
  background-position: -87px -199px;
}

.set-icons-NPH {
  width: 14px;
  height: 20px;
  background-position: -134px -199px;
}

.set-icons-OD {
  width: 14px;
  height: 20px;
  background-position: -150px -199px;
}

.set-icons-ONS {
  width: 26px;
  height: 20px;
  background-position: -166px -199px;
}

.set-icons-P2 {
  width: 20px;
  height: 20px;
  background-position: -194px -199px;
}

.set-icons-P3 {
  width: 19px;
  height: 20px;
  background-position: -216px -199px;
}

.set-icons-P4 {
  width: 18px;
  height: 20px;
  background-position: -237px -199px;
}

.set-icons-PC2 {
  width: 27px;
  height: 20px;
  background-position: -1px -221px;
}

.set-icons-PD2 {
  width: 15px;
  height: 20px;
  background-position: -257px -199px;
}

.set-icons-PD3 {
  width: 22px;
  height: 20px;
  background-position: -30px -221px;
}

.set-icons-PK {
  width: 17px;
  height: 20px;
  background-position: -54px -221px;
}

.set-icons-PLC {
  width: 26px;
  height: 20px;
  background-position: -73px -221px;
}

.set-icons-PO {
  width: 20px;
  height: 20px;
  background-position: -101px -221px;
}

.set-icons-PR {
  width: 25px;
  height: 20px;
  background-position: -123px -221px;
}

.set-icons-PREFRF {
  width: 20px;
  height: 20px;
  background-position: -150px -221px;
}

.set-icons-PREKTK {
  width: 18px;
  height: 20px;
  background-position: -172px -221px;
}

.set-icons-PS {
  width: 38px;
  height: 20px;
  background-position: -192px -221px;
}

.set-icons-RAV {
  width: 13px;
  height: 20px;
  background-position: -232px -221px;
}

.set-icons-RI {
  width: 17px;
  height: 20px;
  background-position: -247px -221px;
}

.set-icons-ROE {
  width: 22px;
  height: 20px;
  background-position: -1px -243px;
}

.set-icons-RTR {
  width: 20px;
  height: 20px;
  background-position: -25px -243px;
}

.set-icons-SCG {
  width: 20px;
  height: 20px;
  background-position: -47px -243px;
}

.set-icons-SHM {
  width: 35px;
  height: 20px;
  background-position: -69px -243px;
}

.set-icons-SOK {
  width: 19px;
  height: 20px;
  background-position: -106px -243px;
}

.set-icons-SOM {
  width: 20px;
  height: 20px;
  background-position: -127px -243px;
}

.set-icons-ST {
  width: 19px;
  height: 20px;
  background-position: -149px -243px;
}

.set-icons-TE {
  width: 20px;
  height: 20px;
  background-position: -170px -243px;
}

.set-icons-THS {
  width: 20px;
  height: 20px;
  background-position: -192px -243px;
}

.set-icons-TOR {
  width: 19px;
  height: 20px;
  background-position: -214px -243px;
}

.set-icons-TSB {
  width: 18px;
  height: 20px;
  background-position: -235px -243px;
}

.set-icons-TSP {
  width: 18px;
  height: 20px;
  background-position: -255px -243px;
}

.set-icons-UFP {
  width: 20px;
  height: 20px;
  background-position: -283px -1px;
}

.set-icons-UG {
  width: 31px;
  height: 20px;
  background-position: -273px -89px;
}

.set-icons-UNH {
  width: 18px;
  height: 20px;
  background-position: -285px -23px;
}

.set-icons-UZ {
  width: 31px;
  height: 20px;
  background-position: -274px -199px;
}

.set-icons-V09 {
  width: 22px;
  height: 20px;
  background-position: -275px -45px;
}

.set-icons-V10 {
  width: 16px;
  height: 20px;
  background-position: -281px -67px;
}

.set-icons-V11 {
  width: 21px;
  height: 20px;
  background-position: -281px -111px;
}

.set-icons-V12 {
  width: 26px;
  height: 20px;
  background-position: -276px -133px;
}

.set-icons-V13 {
  width: 19px;
  height: 20px;
  background-position: -278px -155px;
}

.set-icons-VAN {
  width: 19px;
  height: 20px;
  background-position: -284px -177px;
}

.set-icons-VI {
  width: 17px;
  height: 20px;
  background-position: -266px -221px;
}

.set-icons-WL {
  width: 31px;
  height: 20px;
  background-position: -1px -265px;
}

.set-icons-WWK {
  width: 17px;
  height: 20px;
  background-position: -285px -221px;
}

.set-icons-ZEN {
  width: 17px;
  height: 20px;
  background-position: -275px -243px;
}
