.icon-languages {
  background-image: url('../images/languages.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 11px;
  display: inline-block;
}

.icon-languages-br, .icon-languages-6 {
  background-position: 0 0;
}

.icon-languages-cn, .icon-languages-9 {
  background-position: -16px 0;
}

.icon-languages-de, .icon-languages-2 {
  background-position: 0 -11px;
}

.icon-languages-en, .icon-languages-1 {
  background-position: -16px -11px;
}

.icon-languages-es, .icon-languages-8 {
  background-position: 0 -22px;
}

.icon-languages-fr, .icon-languages-11 {
  background-position: -16px -22px;
}

.icon-languages-it, .icon-languages-3 {
  background-position: 0 -33px;
}

.icon-languages-jp, .icon-languages-4 {
  background-position: -16px -33px;
}

.icon-languages-ko, .icon-languages-5 {
  background-position: -32px 0;
}

.icon-languages-pt, .icon-languages-12 {
  background-position: -32px -11px;
}

.icon-languages-ru, .icon-languages-7 {
  background-position: -32px -22px;
}

.icon-languages-tw, .icon-languages-10 {
  background-position: -32px -33px;
}
