<ion-view>
  <ion-content class="padding" id="questions">
    <div class="button-bar">
      <a ng-disabled="page<1" class="button icon ion-ios-skipbackward button-light"
         ui-sref="app.admin.questions({page:0})"></a>
      <a ng-disabled="page<1" class="button button-light icon ion-arrow-left-b"
         ui-sref="app.admin.questions({page:page-1})"></a>
      <a class="button icon button-light" ng-click="goto()">{{page+1}}</a>
      <a ng-disabled="page>=pages-1" class="button icon button-light ion-arrow-right-b"
         ui-sref="app.admin.questions({page:page+1})"></a>
      <a ng-disabled="page>=pages-1" class="button icon ion-ios-skipforward button-light"
         ui-sref="app.admin.questions({page:pages-1})"></a>
    </div>
    <!-- Question list -->
    <table>
      <thead>
        <tr>
          <td class="text-center">Question</td>
          <td>Cards</td>
          <td>Author</td>
          <td class="text-center">Live</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="question in questions | filter:{deleted:'!true'}" ng-class-odd="'odd'">
          <td class="nr">{{::question.id}}</td>
          <td>{{::question.cards.join("; ")}}</td>
          <td>{{::question.author}}</td>
          <td class="toggle-small">
            <label class="toggle toggle-balanced">
              <input type="checkbox" ng-model="question.live" ng-change="toggle(question)">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </td>
        </tr>
        <tr ng-repeat-end ng-class-odd="'odd'">
          <td colspan="3">
            <div class="button-bar">
              <a class="button button-small language"
                 ui-sref="app.admin.translation({id:question.id, language:language.id})"
                 ng-if="::language.code != 'en'"
                 ng-disabled="::user.languages.length && user.languages.indexOf(language.id)<0"
                 ng-class="::{
					'button-stable': true,
                    'button-balanced':question.languages.indexOf(language.id)>-1,
                    'button-dark':question.outdated.indexOf(language.id)>-1,
                  }"
                 ng-repeat="language in ::languages">
                <span class="icon-languages icon-languages-{{::language.code}}"></span>
				<i class = "icon {{question.languages.indexOf(language.id)<1 ? 'ion-plus-circled' : (question.outdated.indexOf(language.id)>-1 ? 'ion-alert-circled' : 'ion-checkmark-circled')}}"></i>
              </a>
            </div>
          </td>
          <td>
            <div class="button-bar">
              <a class="button button-small icon ion-link" ui-sref="app.question({id:question.id})"></a>
              <a class="button button-small button-positive icon ion-edit" ui-sref="app.admin.question({id:question.id})"></a>
              <a class="button button-small button-dark icon ion-trash-a" ng-click="delete(question)"></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button-bar">
      <a ng-disabled="page<1" class="button icon ion-ios-skipbackward button-light"
              ui-sref="app.admin.questions({page:0})"></a>
      <a ng-disabled="page<1" class="button button-light icon ion-arrow-left-b"
              ui-sref="app.admin.questions({page:page-1})"></a>
      <a class="button icon button-light" ng-click="goto()">{{page+1}}</a>
      <a ng-disabled="page>=pages-1" class="button icon button-light ion-arrow-right-b"
              ui-sref="app.admin.questions({page:page+1})"></a>
      <a ng-disabled="page>=pages-1" class="button icon ion-ios-skipforward button-light"
              ui-sref="app.admin.questions({page:pages-1})"></a>
    </div>
  </ion-content>
</ion-view>