<ion-view>
  <ion-content id="translations">
    <div class="loader" ng-hide="translations.length">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
      <span class="positive" translate>common.loading</span>
    </div>
    <div class="row responsive-sm" ng-show="translations.length">
      <div class="col-50 item item-input">
        <i class="icon placeholder-icon ion-search"></i>
        <input type="text" ng-model="selected.search" placeholder="Search">
      </div>
      <label class="col-50 item item-input item-select">
        <div class="input-label">Language</div>
        <select ng-model="selected.language" ng-change="reload(true)" ng-disabled="languages.length <= 1"
                ng-options="language.id as language.name for language in languages | filter:{code:'!en'}">
        </select>
      </label>
    </div>
    <div class="list">
      <a class="item item-button-right" ng-class="{'stable-bg':!translation.live}"
         ui-sref="app.admin.translation({language:selected.language, id:translation.question_id})"
         ng-repeat="translation in translations | filter:selected.search">
        <span class="item-note">{{translation.changedate}}</span>
        <b>Question {{::translation.question_id}}</b>
        <p>{{::translation.cards.join("; ")}}</p>
        <button class="button" ui-sref="app.admin.translation({language:selected.language, id:translation.question_id})"
                ng-class="{'button-positive':translation.status=='translated',
                'button-dark':translation.status=='outdated'}">
          {{translation.status}}
          <i class="icon" ng-class="{'ion-checkmark':translation.status=='translated',
                'ion-alert-circled':translation.status=='outdated',
                'ion-close':translation.status=='untranslated'}"></i>
        </button>
      </a>
    </div>
  </ion-content>
</ion-view>
