<ion-view>
  <ion-content class="padding" id="translation">
    <!-- Edit a translation -->
    <div class="loader" ng-hide="translation">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
      <span class="positive" translate>common.loading</span>
    </div>
    <form name="form" ng-show="translation" ng-submit="save()">
      <div class="row responsive-sm">
        <!-- Question details -->
        <div class="col col-50 list">
          <div class="item item-divider item-icon-right">
            <span class="item-note positive">{{translation.id}}</span>
            Question
            <a class="icon ion-edit dark" ui-sref="app.admin.question({id:translation.id})"
               ng-show="user.role == 'admin' || user.role == 'editor'">
            </a>
          </div>
          <div class="item" ng-show="translation.author">
            <span class="item-note">{{translation.author}}</span>
            Author
          </div>
          <div class="item">
            <span class="item-note" ng-show="translation.difficulty == 0">Easy</span>
            <span class="item-note" ng-show="translation.difficulty == 1">Medium</span>
            <span class="item-note" ng-show="translation.difficulty == 2">Hard</span>
            Difficulty
          </div>
          <div class="item item-icon-right">
            Live
            <i class="icon" ng-class="{'ion-checkmark positive':translation.live,'ion-close':!translation.live}"></i>
          </div>
        </div>
        <!-- Card list -->
        <div class="col col-50 list cards">
          <div class="item item-divider">
            Cards
            <span class="item-note positive">{{translation.cards.length}}</span>
          </div>
          <div ng-repeat-start="(index, card) in translation.cards track by index" class="item item-icon-right"
               ng-click="showCard[index]=!showCard[index]">
            <i class="icon ion-image"></i>
            {{card}}
          </div>
          <div ng-repeat-end ng-show="showCard[index]" class="item stable-bg">
            <img ng-if="translation.cardids[index]" ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&multiverseid={{translation.cardids[index]}}" alt="">
            <img ng-if="!translation.cardids[index]" ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&name={{card}}" alt="">
          </div>
        </div>
      </div>
      <!-- Question & Answer -->
      <div class="row responsive-sm">
        <!-- English -->
        <div class="col col-50 list">
          <div class="item item-divider">
            <span class="item-note" ng-show="translation.changedate">{{translation.changedate}}</span>
            English Question text:
          </div>
          <div class="item disabled">
            <textarea disabled="disabled">{{translation.question}}</textarea>
          </div>
          <div class="item item-divider">
            <span class="item-note" ng-show="translation.changedate_translated">{{translation.changedate_translated}}</span>
            {{language.name}} Question text:
          </div>
          <div class="item">
            <textarea ng-required="translation.answer_translated" ng-model="translation.question_translated"></textarea>
          </div>
        </div>
        <!-- Translations -->
        <div class="col col-50 list">
          <div class="item item-divider">
            <span class="item-note" ng-show="translation.changedate">{{translation.changedate}}</span>
            English Answer text:
          </div>
          <div class="item disabled">
            <textarea disabled="disabled">{{translation.answer}}</textarea>
          </div>
          <div class="item item-divider">
            <span class="item-note" ng-show="translation.changedate_translated">{{translation.changedate_translated}}</span>
            {{language.name}} Answer text:
          </div>
          <div class="item">
            <textarea ng-required="translation.question_translated" ng-model="translation.answer_translated"></textarea>
          </div>
        </div>
      </div>
      <div class="button-bar padding-horizontal">
        <button type="button" ng-click="back()" class="button button-stable">Back</button>
        <button ng-disabled="question.cards.length==0 || !form.$valid" type="submit" class="button button-positive">Save</button>
      </div>
    </form>
  </ion-content>
</ion-view>
