<ion-view>
  <ion-content class="padding text-center" id="home" on-swipe-left="next()">
    <img class="logo" src="images/logo2.png" alt="Magic Judge Booth">
    <div class="loader" ng-hide="questions !== null">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
      <span class="positive" translate>common.loading</span>
    </div>
    <div class="card" ng-show="questions !== null">
      <div class="item item-divider text-center">
        <b translate>home.title</b>
      </div>
      <p class="item item-text-wrap">
        <span translate>home.description</span>
        <span translate translate-values="{questions:questions.length, sets:sets.length, languages:languages.length,
          authors:authors.length, filtered:filtered.length}">home.statistics</span>
      </p>
      <div class="item tabs item-divider text-center">
        <a class="button button-positive" ng-click="next()" translate>
          home.start
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>