<ion-side-menus enable-menu-with-back-views="true">
  <!-- Center content -->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-android-menu" menu-toggle></button>
      </ion-nav-buttons>
      <ion-nav-title ui-sref="app.home"></ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button button-icon icon-right ion-arrow-right-a" ng-click="next()"
                ng-hide="state.name == 'home'" translate></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-header-bar align-title="center" class="bar-header bar bar-stable">
      <h1 class="title" translate>menu.title</h1>
    </ion-header-bar>
    <ion-content id="side">
      <div class="list">
        <!-- Languages -->
        <label class="item item-input item-select">
          <span class="input-label" translate>menu.language</span>
          <select ng-model="filter.language" ng-change="updateCount()">
            <option ng-repeat="language in languages" ng-if="languageCounts[language.id]"
                    ng-selected="filter.language == language.id" value="{{language.id}}">
              {{language.name}}
            </option>
          </select>
        </label>
        <!-- Sets -->
        <div class="item item-icon-right" ng-click="showSets()">
          <span translate>menu.sets</span>
          <span class="item-note" translate translate-value-number="{{setCount}}">menu.sets_selected</span>
          <i class="icon ion-ios-gear"></i>
        </div>
        <div class="item sets" ng-show="setsShown">
          <div class="button-bar">
            <button class="button button-dark button-small" ng-click="toggleSet('all')" translate>
              menu.sets_all
            </button>
            <button class="button button-dark button-small" ng-click="toggleSet('modern')" translate>
              menu.sets_modern
            </button>
            <button class="button button-dark button-small" ng-click="toggleSet('standard')" translate>
              menu.sets_standard
            </button>
            <button class="button button-dark button-small" ng-click="toggleSet('none')" translate>
              menu.sets_none
            </button>
          </div>
          <div class="buttons">
            <button class="button button-small set" ng-repeat="set in sets" ng-if="setCounts[filter.language][set.id]"
                    ng-click="toggleSet(set.id)" ng-class="{'active':filter.sets.indexOf(set.id)<0}"
                    title="{{::set.name}}">
              <i class="icon-sets icon-sets-{{::set.code}}" title="{{::set.name}}"></i>
              <!--<img ng-show="filter.sets.indexOf(set.id)<0" alt="{{::set.code}}" ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?type=symbol&set={{::set.code}}&size=small&rarity=R">-->
              <!--<img ng-hide="filter.sets.indexOf(set.id)<0" alt="{{::set.code}}" ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?type=symbol&set={{::set.code}}&size=small&rarity=C">-->
            </button>
          </div>
        </div>
        <!-- Difficulty -->
        <div class="item difficulty">
          <span translate>menu.difficulty</span>
          <div class="button-bar">
            <button class="button button-small" ng-click="toggleDifficulty(0)"
                    ng-class="{active:filter.difficulty.indexOf(0)<0}">
              <i class="icon ion-android-star"></i>
            </button>
            <button class="button button-small" ng-click="toggleDifficulty(1)"
                    ng-class="{active:filter.difficulty.indexOf(1)<0}">
              <i class="icon ion-android-star"></i>
              <i class="icon ion-android-star"></i>
            </button>
            <button class="button button-small" ng-click="toggleDifficulty(2)"
                    ng-class="{active:filter.difficulty.indexOf(2)<0}">
              <i class="icon ion-android-star"></i>
              <i class="icon ion-android-star"></i>
              <i class="icon ion-android-star"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="padding">
        <button ng-disabled="!filteredQuestions.length" class="button button-block button-positive icon-right ion-arrow-right-a"
                menu-close ng-click="showQuestions()" translate translate-value-number="{{filteredQuestions.length}}">
          menu.select
        </button>
      </div>
      <div class="text-center padding">
        <span ng-show="online && cacheStatus != 1" translate>menu.offline_caching</span>
        <span ng-show="online && cacheStatus == 1" translate>menu.offline_ready</span>
        <span ng-show="!online && cacheStatus == 1" translate>menu.offline_mode</span>
        -
        <a href="https://github.com/bra1n/judgebooth" class="dark" target="_blank" translate>menu.source</a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>