<ion-side-menus enable-menu-with-back-views="true">
  <!-- Center content -->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-android-menu" menu-toggle></button>
      </ion-nav-buttons>
      <ion-nav-title ui-sref="app.home"></ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button button-icon icon-right ion-arrow-right-a" ng-click="next()"
                ng-hide="state.name == 'home'" translate></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-header-bar align-title="center" class="bar-header bar bar-stable">
      <h1 class="title">
        <span ng-show="tab == 'filter'" translate>menu.title_filter</span>
        <span ng-show="tab == 'admin'" translate>menu.title_admin</span>
      </h1>
    </ion-header-bar>
    <ion-content class="side-content" ng-class="{'has-tabs':user.role}" ng-show="tab == 'filter'">
      <div class="list">
        <!-- Languages -->
        <label class="item item-input item-select">
          <span class="input-label" translate>menu.language</span>
          <select ng-model="filter.language" ng-change="updateCount()">
            <option ng-repeat="language in languages" ng-if="languageCounts[language.id]"
                    ng-selected="filter.language == language.id" value="{{language.id}}">
              {{language.name}}
            </option>
          </select>
        </label>
        <!-- Sets -->
        <div class="item item-icon-right" ng-click="showSets()">
          <span class="item-note" translate translate-value-number="{{setCount}}">menu.sets_selected</span>
          <span translate>menu.sets</span>
          <i class="icon ion-ios-gear"></i>
        </div>
        <div class="item sets" ng-show="setsShown">
          <div class="button-bar">
            <button class="button button-dark button-small" ng-click="toggleSet('all')" translate>
              menu.sets_all
            </button>
            <button class="button button-dark button-small" ng-click="toggleSet('modern')" translate>
              menu.sets_modern
            </button>
            <button class="button button-dark button-small" ng-click="toggleSet('standard')" translate>
              menu.sets_standard
            </button>
            <button class="button button-dark button-small" ng-click="toggleSet('none')" translate>
              menu.sets_none
            </button>
          </div>
          <div class="buttons">
            <button class="button button-small set" ng-repeat="set in sets" ng-if="setCounts[filter.language][set.id]"
                    ng-click="toggleSet(set.id)" ng-class="{'active':filter.sets.indexOf(set.id)<0}"
                    title="{{::set.name}}">
              <i class="icon-sets icon-sets-{{::set.code}}" title="{{::set.name}}"></i>
              <!--<i class="mtg e-{{::set.code.toLowerCase()}}" ng-class="{'rare':filter.sets.indexOf(set.id)<0}" title="{{::set.name}}"></i>-->
            </button>
          </div>
        </div>
        <!-- Difficulty -->
        <div class="item difficulty">
          <span translate>menu.difficulty</span>
          <div class="button-bar">
            <button class="button button-small" ng-click="toggleDifficulty(0)"
                    ng-class="{active:filter.difficulty.indexOf(0)<0}">
              <i class="icon ion-android-star"></i>
            </button>
            <button class="button button-small" ng-click="toggleDifficulty(1)"
                    ng-class="{active:filter.difficulty.indexOf(1)<0}">
              <i class="icon ion-android-star"></i>
              <i class="icon ion-android-star"></i>
            </button>
            <button class="button button-small" ng-click="toggleDifficulty(2)"
                    ng-class="{active:filter.difficulty.indexOf(2)<0}">
              <i class="icon ion-android-star"></i>
              <i class="icon ion-android-star"></i>
              <i class="icon ion-android-star"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="padding">
        <button ng-disabled="!filteredQuestions.length" class="button button-block button-positive icon-right ion-arrow-right-a"
                menu-close ng-click="showQuestions()" translate translate-value-number="{{filteredQuestions.length}}">
          menu.select
        </button>
      </div>
      <div class="text-center padding">
        <div>
          <span ng-show="online && cacheStatus == 3" translate>menu.offline_caching</span>
          <span ng-show="online && cacheStatus == 1" translate>menu.offline_ready</span>
          <span ng-show="!online && cacheStatus == 1" translate>menu.offline_mode</span>
        </div>
        <!--<div>
          <span ng-show="!user" ng-click="login()">Login</span>
          <span ng-show="user.error">Error logging in: {{user.error}}</span>
          <span ng-show="user.name">{{user.name}}</span>
        </div>-->
        <a class="dark" href="https://github.com/bra1n/judgebooth" target="_blank" translate>menu.source</a>
      </div>
    </ion-content>

    <ion-content ng-show="tab == 'admin'" class="has-tabs side-content">
      <div class="list">
        <a class="item item-icon-left" ui-sref="app.admin.new">
          <i class="icon ion-plus"></i>
          New Question
        </a>
        <a class="item item-icon-left" ui-sref="app.admin.questions({page:0})" ng-show="user.role == 'admin' || user.role == 'editor'">
          <i class="icon ion-help"></i>
          All Questions
        </a>
        <a class="item item-icon-left" ui-sref="app.admin.translation">
          <i class="icon ion-earth"></i>
          Translations
        </a>
        <a class="item item-icon-left" ui-sref="app.admin.user" ng-show="user.role == 'admin'">
          <i class="icon ion-ios-people"></i>
          Users
        </a>
        <a class="item item-icon-left" ui-sref="app.home" ng-click="logout()">
          <i class="icon ion-android-exit"></i>
          Logout
        </a>
      </div>
    </ion-content>

    <div ng-show="user.role" class="tabs-striped tabs-color-positive tabs-background-stable">
      <div class="tabs">
        <a class="tab-item"  ng-class="{active:tab == 'filter'}" ng-click="toggleTab('filter')">
          <i class="ion-search"></i>
          <span translate>menu.button_filter</span>
        </a>
        <a class="tab-item" ng-class="{active:tab == 'admin'}" ng-click="toggleTab('admin')">
          <i class="ion-settings"></i>
          <span translate>menu.button_admin</span>
        </a>
      </div>
    </div>
  </ion-side-menu>
</ion-side-menus>