<ion-side-menus enable-menu-with-back-views="true">
  <!-- Center content -->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-android-menu" menu-toggle></button>
      </ion-nav-buttons>
      <ion-nav-title ui-sref="app.home"></ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button button-icon icon-right ion-arrow-right-a" ng-click="next()"
                ng-hide="state.name == 'home'" translate></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-header-bar align-title="center" class="bar-header bar bar-stable">
      <h1 class="title">
        <span ng-show="tab == 'filter'" translate>menu.title_filter</span>
        <span ng-show="tab == 'admin'" translate>menu.title_admin</span>
      </h1>
    </ion-header-bar>
    <ion-content class="side-content" ng-class="{'has-tabs':user.role}" ng-show="tab == 'filter'">
      <div class="list">
        <!-- Languages -->
        <label class="item item-input item-select">
          <span class="input-label" translate>menu.language</span>
          <select data-tap-disabled="true" ng-model="filter.language" ng-change="updateCount()"
              ng-options="language.id as language.name for language in languages | filter:languageFilter">
            <!--<option ng-repeat="language in languages" ng-if="languageCounts[language.id]"-->
          </select>
        </label>
        <!-- Sets -->
        <div class="item item-icon-right" ng-click="showSets()">
          <span class="item-note" translate translate-value-number="{{setCount}}">menu.sets_selected</span>
          <span translate>menu.sets</span>
          <i class="icon ion-ios-gear"></i>
        </div>
        <div class="item sets" ng-show="setsShown">
          <div class="button-bar">
            <button class="button button-dark button-small" ng-click="toggleSet('all')" translate>
              menu.sets_all
            </button>
            <button class="button button-dark button-small" ng-click="toggleSet('modern')" translate>
              menu.sets_modern
            </button>
            <button class="button button-dark button-small" ng-click="toggleSet('standard')" translate>
              menu.sets_standard
            </button>
            <button class="button button-dark button-small" ng-click="toggleSet('none')" translate>
              menu.sets_none
            </button>
          </div>
          <div class="buttons">
            <button type="button" class="button button-small set" ng-repeat="set in sets" ng-if="setCounts[filter.language][set.id]"
                    ng-click="toggleSet(set.id)" ng-class="{'active':filter.sets.indexOf(set.id)<0}"
                    title="{{::set.name}}">
              <!--<i class="icon-sets icon-sets-{{::set.code}}" title="{{::set.name}}"></i>-->
              <i class="mtg e-{{::set.code.toLowerCase()}}" ng-class="{'rare':filter.sets.indexOf(set.id)<0}" title="{{::set.name}}"></i>
            </button>
          </div>
        </div>
        <!-- Difficulty -->
        <div class="item difficulty">
          <span translate>menu.difficulty</span>
          <div class="button-bar">
            <button type="button" class="button button-small" ng-click="toggleDifficulty(0)"
                    ng-class="{active:filter.difficulty.indexOf(0)<0}">
              <i class="icon ion-android-star"></i>
            </button>
            <button type="button" class="button button-small" ng-click="toggleDifficulty(1)"
                    ng-class="{active:filter.difficulty.indexOf(1)<0}">
              <i class="icon ion-android-star"></i>
              <i class="icon ion-android-star"></i>
            </button>
            <button type="button" class="button button-small" ng-click="toggleDifficulty(2)"
                    ng-class="{active:filter.difficulty.indexOf(2)<0}">
              <i class="icon ion-android-star"></i>
              <i class="icon ion-android-star"></i>
              <i class="icon ion-android-star"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Select Button -->
      <div class="padding">
        <button ng-disabled="!filteredQuestions.length" class="button button-block button-positive icon-right ion-arrow-right-a"
                menu-close ng-click="showQuestions()" translate translate-value-number="{{filteredQuestions.length}}">
          menu.select
        </button>
      </div>
      <!-- Further controls -->
      <div class="text-center">
        <span ng-show="user.error" translate-value-error="{{user.error}}" translate>menu.login_error</span>
        <span ng-show="user.name" translate-value-user="{{user.name}}" translate>menu.logged_in</span>
      </div>
      <div class="button-bar padding">
        <span ng-show="!online && cacheStatus == 1" class="button button-small" disabled translate>
          menu.offline_mode</span>
        <a ng-show="offlineMode" class="button button-light button-small" href="/" target="_self" translate>
          menu.go_online</a>
        <a ng-show="!offlineMode" class="button button-light button-small" href="/offline.html" target="_self" translate>
          menu.go_offline</a>
        <span ng-show="online && !user" class="button button-small button-light" ng-click="login()" translate>menu.login</span>
        <span ng-show="online && user" class="button button-small button-light" ng-click="logout()" translate>menu.logout</span>
        <a class="button button-small button-light" href="https://github.com/bra1n/judgebooth" target="_blank" translate>menu.source</a>
      </div>
    </ion-content>

    <!-- Admin Menu -->
    <ion-content ng-show="tab == 'admin'" class="has-tabs side-content">
      <div class="list">
        <a class="item item-icon-left" ui-sref="app.admin.new">
          <i class="icon ion-plus" ng-class="{positive:state.name=='app.admin.new'}"></i>
          <span translate>menu.admin_new</span>
        </a>
        <a class="item item-icon-left" ui-sref="app.admin.questions({page:0})" ng-show="user.role == 'admin' || user.role == 'editor'">
          <i class="icon ion-help" ng-class="{positive:state.name=='app.admin.questions'}"></i>
          <span translate>menu.admin_all</span>
        </a>
        <a class="item item-icon-left" ui-sref="app.admin.translations">
          <i class="icon ion-earth" ng-class="{positive:state.name=='app.admin.translations'}"></i>
          <span translate>menu.admin_translations</span>
        </a>
        <a class="item item-icon-left" ui-sref="app.admin.users" ng-show="user.role == 'admin'">
          <i class="icon ion-ios-people" ng-class="{positive:state.name=='app.admin.users'}"></i>
          <span translate>menu.admin_users</span>
        </a>
        <a class="item item-icon-left" ui-sref="app.home" ng-click="logout()">
          <i class="icon ion-android-exit"></i>
          <span translate>menu.logout</span>
        </a>
      </div>
    </ion-content>

    <!-- Bottom Tabs -->
    <div ng-show="user.role">
      <div class="tabs tabs-icon-left">
        <a class="tab-item"  ng-class="{'active positive':tab == 'filter'}" ng-click="toggleTab('filter')">
          <i class="icon ion-search"></i>
          <span translate>menu.button_filter</span>
        </a>
        <a class="tab-item" ng-class="{'active positive':tab == 'admin'}" ng-click="toggleTab('admin')">
          <i class="icon ion-settings"></i>
          <span translate>menu.button_admin</span>
        </a>
      </div>
    </div>
  </ion-side-menu>
</ion-side-menus>
