<ion-view title="Question {{question.metadata.id}}">
  <ion-content class="padding">
    <ul class="cards">
      <li ng-repeat="card in question.cards">
        {{card.name}}
      </li>
    </ul>
    <p class="question">{{question.question}}</p>
    <p ng-show="answer" class="answer">{{question.answer}}</p>
    {{question.metadata.author}} - {{question.metadata.difficulty}}<br>
    <button class="button" ng-hide="answer" ng-click="showAnswer()">Show Answer</button>
  </ion-content>
</ion-view>