<ion-view>
  <ion-content on-swipe-left="next()">
    <div class="loader" ng-hide="question">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
      <span class="positive" translate>common.loading</span>
    </div>

    <div class="cards row">
      <div class="col col-bottom" ng-repeat="card in question.cards">
        <h4>{{::card.name}}</h4>
        <div class="card-container" ng-click="card.scan = !card.scan && online"
             ng-class="{'show-scan':card.scan, split:card.layout == 'split', aftermath:card.layout == 'aftermath'}" >
          <img ng-src="{{::card.src}}" ng-if="online" ng-load="card.scan = true" class="scan">
          <div class="oracle">
            <span class="title">
              <span class="right" ng-bind-html="card.manacost"></span>
              <b>{{::card.name_en}}</b>
            </span>
            <b class="type">{{::card.type}}</b>
            <span class="ability" ng-bind-html="card.text"></span>
            <b class="right bottom" ng-if="card.toughness || card.power">{{::card.power}} / {{::card.toughness}}</b>
            <b class="right bottom" ng-if="card.loyalty">{{::card.loyalty}}</b>
          </div>
        </div>
      </div>
    </div>
    <!-- text -->
    <div class="card" ng-show="question">
      <div class="item item-divider text-center">
        <i class="icon positive ion-alert-circled" ng-show="::question.metadata.outdated"
           ng-click="question.showWarning = !question.showWarning"></i>
        <b translate translate-value-number="{{::question.metadata.id}}">question.title</b>
        <i class="icon positive ion-android-star"></i>
        <i class="icon positive" ng-class="{'ion-android-star':question.metadata.difficulty>=1}"></i>
        <i class="icon positive" ng-class="{'ion-android-star':question.metadata.difficulty>=2}"></i>
        <span ng-show="question.metadata.author" translate translate-value-author="{{::question.metadata.author}}">question.title_by</span>
      </div>
      <div ng-show="!question.metadata.live" class="positive text-center padding" translate>question.not_live</div>
      <div ng-show="question.showWarning && question.metadata.outdated" class="positive text-center padding" translate>question.outdated</div>
      <div class="question item tabs-icon-right item-text-wrap" data-tap-disabled="true" ng-bind-html="question.question"></div>
      <div ng-show="answer" class="answer positive item item-text-wrap ng-hide" ng-bind-html="question.answer"></div>
      <div class="item tabs item-divider text-center">
        <a class="tab-item" ui-sref="app.admin.question({id:question.metadata.id})"
           ng-show="user.role == 'admin' || user.role == 'editor'" translate>
          question.edit_question
        </a>
        <button type="button" class="button icon-right" ng-click="toggleAnswer()"
                ng-class="{'button-positive ion-checkmark-circled':!answer, 'button-dark ion-close-circled':answer}">
          <span ng-hide="answer" translate>question.show_answer</span>
          <span ng-show="answer" translate>question.hide_answer</span>
        </button>
        <a class="tab-item" ui-sref="app.admin.translation({id:question.metadata.id, language:question.language})" translate
           ng-show="user.role && question.language != 1 && (!user.languages.length || user.languages.indexOf(question.language)>-1)">
          question.edit_translation
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>