body {
  margin:0;
  padding:0;
  background: white;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
  height: 100%;
}
html { height: 100%; }

.content, .copy { 
  display: inline-block;
  height: 90%;
  width: 90%;
  top: 5%;
  position: relative;
}

.loading { 
  font-size: 40px;
  top: 45%;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 2;
  background: white;
  padding: 20px 0;
}

.fullcard {
  position: absolute;
  display: none;
  cursor: pointer;
  width: 400px;
}

hr {
  border-top: 4px solid silver;
  border-bottom: none;
  margin: 4% 0;
}
hr.bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 3%;
}
.logo {
  position: absolute;
  top: -38px;
  left: 30px;
  margin-top: 4%;
}
h1 { 
  text-align: right;
  position: absolute;
  background: white;
  display: inline-block;
  right: 30px;
  top: -20px;
  margin-top: 4%;
  padding: 0 10px;
}

.cards { 
  text-align: center; 
  height: 45%;
  white-space: nowrap;
  transition: height 500ms; 
  -moz-transition: height 500ms;
  -webkit-transition: height 500ms;
}

.valign {
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}

.card {
  width: 20%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  line-height: 250%;
}

.card img { 
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
  box-shadow: 0 0 8px #888;
  display: block;
  margin: auto;
  cursor: pointer;
}

div.text {
  max-height: 32%;
  overflow: hidden;
  transition: all 500ms; 
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
}

div.question, div.answer { 
  width: 90%;
  margin: 10px auto;
  font-size: 22px;
  text-align: justify;

}
.question b, .answer b { color:red; }
div.answer { 
  color: green; 
  opacity: 0;
  transition: all 500ms; 
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
}
.content.show-answer div.text { max-height: 50%; }
.content.show-answer div.answer { opacity: 1; }
.content.show-answer div.cards { height: 30%; }

.author { 
  color: silver;
  position: absolute;
  bottom: -13px;
  left: 30px;
  margin-bottom: 3%;
  padding:5px;
  background: white;
}

.buttons {
  position: absolute;
  margin-bottom: 3%;
  width: 100%;
  text-align: center;
  bottom: -18px;
}
button {
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px;
  opacity: 1;
  border: none;
  transition: opacity 400ms;
  border-radius: 5px;
  background: #bbb;
  outline: 5px solid white;
  color: white;
  text-shadow: 0 1px 4px #888;
}
button:hover { box-shadow: inset 0 0 5px #000; }
button.hidden { opacity: 0; }

.menu {
  position: absolute;
  bottom: -13px;
  right: 30px;
  margin-bottom: 3%;
}

.menu span {
  display: inline-block;
  padding:5px;
  background: white;
  cursor: pointer;
  color: silver;
}

.menu span.offline.cache-4,
.menu span.offline.cache-1 { color: green; }
.menu span.offline.cache-3 { color: orange; }
.menu span.offline.cache-0,
.menu span.offline.active { color: red; }
.menu span.offline.active.cache-1,
.menu span.offline.active.cache-4 { color: blue; }

@media print {
  @page {
    size: landscape; 
    margin: 0;
  }
  .content,.copy {
    page-break-after: always;
  }
  .buttons, .menu { display: none; }
}