body {
  margin:0;
  padding:0;
  padding-top: 20px;
  background: white;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
}

.content { 
  display: none;
  width: 1280px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.loading { 
  font-size: 40px;
  top: 200px;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 2;
  background: white;
}

hr {
  border-top: 4px solid silver;
  border-bottom: none;
  margin: 50px 0;
}
.logo {
  position: absolute;
  top: 10px;
  left: 30px;
  padding: 0 10px;
  background: white;
}
h1 { 
  text-align: right;
  position: absolute;
  background: white;
  display: inline-block;
  right: 30px;
  top: 30px;
  margin: 0;
  padding: 0 10px;
}

.cards { 
  text-align: center; 
  height: 340px;
}

.card {
  width: 230px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-weight: bold;
}

.card img { 
  min-width: 219px;
  height: 310px;
  display: block; 
  border-radius: 10px;
  box-shadow: 0 0 8px #888;
  margin-bottom: 10px;
}

div.question, div.answer { 
  width: 900px;
  margin: 10px auto;
  font-size: 22px;
  text-align: justify;

}
.question b, .answer b { color:red; }
div.answer { 
  color: green; 
  display: none; 
}

.author { 
  font-style: italic; 
  color: silver;
}

.buttons {
  position: absolute;
  bottom: 32px;
  width: 100%;
  text-align: center;
}
button {
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px;
  opacity: 1;
  border: none;
  transition: opacity 400ms;
  border-radius: 5px;
  background: #bbb;
  outline: 5px solid white;
  color: white;
  text-shadow: 0 1px 4px #888;
}
button:hover { box-shadow: inset 0 0 5px #000; }
button.hidden { opacity: 0; }